.navigation {
  margin: 50px;
  display: flex;
  gap: 0 30px;
  align-items: center;
  justify-content: center;

  a {
    font-size: 18px;
    color: blue;
    text-decoration: none;
  }
}

.logout {
  padding: 10px 20px;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
}
